.bodybg{
    -fx-background-image: url('../images/WallpaperGalaxy.jpg');
    -fx-background-size: 100% 100%;
}

.text-field{
    -fx-border-style: hidden hidden solid hidden;
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
}

.date{
    -fx-font-size: 15;
    -fx-font-style: italic;

}

.myComboBox{
    -fx-font-style: italic;
    -fx-font-size: 15;
}


