#btnDelete{
    -fx-background-image: url('../images/remove.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-pref-height: 25;
    -fx-pref-width: 25;
}

#btnReject{
    -fx-background-image: url('../images/remove.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-pref-height: 25;
    -fx-pref-width: 25;
}

#btnUnsend {
    -fx-background-image: url('../images/remove.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-pref-height: 25;
    -fx-pref-width: 25;
}

#btnSend {
    -fx-background-image: url('../images/send.jpg');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-pref-height: 25;
    -fx-pref-width: 25;
}

#btnAccept {
    -fx-background-image: url('../images/accept.png');
    -fx-background-size: 100% 100%;
    -fx-background-color: transparent;
    -fx-pref-height: 25;
    -fx-pref-width: 25;
}

