.table-view {
	-fx-background-color: transparent;
}
.table-view .column-header-background .filler {
	-fx-background-color: transparent;
}
.table-view .corner {
	-fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, rgba(145, 76, 220, 0.7), #9081c4);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}
.table-view .column-header .cell{
    -fx-alignment: CENTER;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell. hover {
    -fx-background-color: rgba(70, 17, 148, 0.07);
    -fx-text-background-color: red;
}
.table-row-cell. odd{
    -fx-background-color: rgba(70, 17, 148, 0.07);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell. even{
    -fx-background-color: rgba(70, 17, 148, 0.07);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}
.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, rgba(145, 76, 220, 0.7), #9081c4);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, rgba(145, 76, 220, 0.7), #9081c4);
}
.table-row-cell.filler {
    -fx-background-color: rgba(164, 155, 194, 0.98);
    -fx-background-radius: 15px;
}

.table-cell {
    -fx-alignment: CENTER;
}